<html>
    <head>
        <title> davewiki - sign up??? </title>
    </head>

    <body>
        <h1> sign up u idiot </h1>
        <form id="Signup" action="/save/" method="POST"><br>
            <input type="hidden" name="Type" value="NewUser">
            <div>
                <label for="Name"> enter a name!! </label>
                <input type="text" name="Name" required>
            </div>
            <div>
                <label for="Pass"> enter a password!!! </label>
                <input type="password" name="Pass" required>
            </div>
            <input type="submit" value="button!">
        </form>
    </body>
</html>

